
#element {
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 4px;
    /* Aqui declaramos nossa animação inline */
    animation: fill 600ms linear infinite;
}

@keyframes fill {
	0% {
		width: 10%;
        height:10%;
	}

	50% {
		width: 11%;
        height:11%;
	}

	100% {
		width: 10%;
        height:10%;
	}
}